/* ======================= Font ==================================================== */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* ======================= Global ==================================================== */
*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #111;
  color: white;
  font: bold 2rem 'Press Start 2P', cursive;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

:root {
  scrollbar-color: #666 #222 !important;
  scrollbar-width: thin !important;
}

::-webkit-scrollbar {
  width: 0.8rem;
}

::-webkit-scrollbar-track {
  background-color: #222;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(#14e6d5, #0eb1f1);
  border-radius: 5rem;
}

/* ======================= Header ==================================================== */
header {
  margin-top: 1.3rem;
  margin-bottom: 25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  background-color: #111;
  position: fixed;
  top: 0;
  z-index: 999;
}

@media (max-width: 992px) {
  header {
    flex-direction: column;
  }
  header .logo {
    margin-bottom: 5rem;
    margin-top: 3rem;
  }
  header nav {
    display: none;
  }
  header nav ul {
    flex-direction: column;
  }
}

header .logo {
  font: bold 5rem 'Press Start 2P', cursive;
  text-transform: capitalize;
  color: #f32291;
  -webkit-text-stroke: 3px #00ff9d;
  letter-spacing: 6.2px;
}

header .toggle-nav {
  display: none;
  width: 5rem;
  cursor: pointer;
}

@media (max-width: 992px) {
  header .toggle-nav {
    display: block;
  }
}

header nav ul {
  display: flex;
}

header nav ul li {
  all: unset;
  margin: 2rem;
  cursor: pointer;
}

header nav ul li a {
  all: unset;
  font: bold 1.8rem 'Press Start 2P', cursive;
  color: orange;
  letter-spacing: 1px;
  cursor: pointer;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

header nav ul li a:hover {
  color: #eee;
}

header nav ul li a:active {
  color: #eee;
}

header nav ul li .active {
  color: #eee;
}

/* ======================= Other Sections ==================================================== */
.hero,
.team,
.contact,
.about {
  background-color: #e2df0d;
  width: 100%;
  height: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font: bold 4rem 'Press Start 2P', cursive;
  letter-spacing: 6.2px;
  margin-bottom: 70rem;
  margin-top: 50rem;
  position: relative;
}

@media (max-width: 576px) {
  .hero,
  .team,
  .contact,
  .about {
    font-size: 3rem;
  }
}

.hero img:first-child,
.team img:first-child,
.contact img:first-child,
.about img:first-child {
  position: absolute;
  top: -200px;
}

.hero img:last-child,
.team img:last-child,
.contact img:last-child,
.about img:last-child {
  position: absolute;
  bottom: -200px;
}

/* ======================= Team ==================================================== */
.team {
  background-color: #e4197e;
}

/* ======================= Contact ==================================================== */
.contact {
  background-color: #19e4c9;
}

/* ======================= About ==================================================== */
.about {
  background-color: #be11be;
  margin-bottom: 30rem;
}

/* ======================= Footer ==================================================== */
footer {
  background-color: #333;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer a {
  all: unset;
  color: #eee;
  cursor: pointer;
  font-size: 1.5rem;
  letter-spacing: 1.3px;
}

/* ======================= Scrool to top Btn ==================================================== */
.top-btn {
  all: unset;
  position: fixed;
  right: 20px;
  bottom: 20px;
  cursor: pointer;
  transform: scale(1.8);
  opacity: 0;
  transition: 0.3s;
}
